In [70]:
import pandas as pd

In [71]:
#read the fast food data into a df 

fast_food_df = pd.read_csv("../Datasets/Nutrition_Value_Dataset.csv")
fast_food_df["Company"].value_counts()

Pizza Hut      144
McDonalds      140
Dominos         87
KFC             72
Starbucks       46
Burger King     41
Name: Company, dtype: int64

In [72]:
#read the pizza price data into a df

pizza_df = pd.read_csv("../Datasets/pizza_data.csv")
pizza_df["Company"].value_counts()

Godfather's Pizza    133
Pizza Hut            126
Domino's Pizza        88
IMO's Pizza           24
Name: Company, dtype: int64

In [73]:
#edit the company column values so that they match across datasets

pizza_df.replace(to_replace="Domino's Pizza", value="Dominos",inplace=True)
pizza_df.head()

   Company          Pizza Name           Type          Size  Price
0  Dominos         Hand Tossed  Cheeses Pizza   Small (10")  $5.99
1  Dominos         Hand Tossed  Cheeses Pizza  Medium (12")  $7.99
2  Dominos         Hand Tossed  Cheeses Pizza   Large (14")  $9.99
3  Dominos        Handmade Pan  Cheeses Pizza  Medium (12")  $7.99
4  Dominos  Crunchy Thin Crust  Cheeses Pizza   Small (10")  $5.99

In [74]:
#merge the two datasets to get a view of nutrition and price 

merged_df = pd.merge(fast_food_df, pizza_df, how="inner", on="Company")
merged_df.head()

,Company,Category,Product,Per Serve Size,Energy (kCal),Carbohydrates (g),Protein (g),Fiber (g),Sugar (g),Total Fat (g),Saturated Fat (g),Trans Fat (g),Cholesterol (mg),Sodium (mg),Pizza Name,Type,Size,Price
0,Pizza Hut,All Meals,Corn n Cheese (Personal),143.5 g,432.6,65.64,17.91,3.85,0.0,10.93,5.14,0.16,16.19,499.72,Hand-Tossed,Cheese Pizza,Medium,$8.49
1,Pizza Hut,All Meals,Corn n Cheese (Personal),143.5 g,432.6,65.64,17.91,3.85,0.0,10.93,5.14,0.16,16.19,499.72,Hand-Tossed,Cheese Pizza,Large,$10.49
2,Pizza Hut,All Meals,Corn n Cheese (Personal),143.5 g,432.6,65.64,17.91,3.85,0.0,10.93,5.14,0.16,16.19,499.72,Pan Pizza,Cheese Pizza,Personal,$4.29
3,Pizza Hut,All Meals,Corn n Cheese (Personal),143.5 g,432.6,65.64,17.91,3.85,0.0,10.93,5.14,0.16,16.19,499.72,Pan Pizza,Cheese Pizza,Medium,$8.49
4,Pizza Hut,All Meals,Corn n Cheese (Personal),143.5 g,432.6,65.64,17.91,3.85,0.0,10.93,5.14,0.16,16.19,499.72,Pan Pizza,Cheese Pizza,Large,$10.49

In [75]:
#could you stick to Keto diet at any fast food restaurant? 
#Keto = 55-80% fat content, 15-35% protein content, and under 10% of carbohydrates.
#let's create new columns with required percentages
#Per Serve Size has to be converted to a numeric value (currently a string). 

merged_df.dtypes

Company               object
Category              object
Product               object
Per Serve Size        object
Energy (kCal)        float64
Carbohydrates (g)    float64
Protein (g)          float64
Fiber (g)            float64
Sugar (g)            float64
Total Fat (g)        float64
Saturated Fat (g)    float64
Trans Fat (g)        float64
Cholesterol (mg)     float64
Sodium (mg)          float64
Pizza Name            object
Type                  object
Size                  object
Price                 object
dtype: object

In [77]:
#First, let's get rid of the spaces and letters

merged_df[['Serving_Size_g','extra_col']] = merged_df['Per Serve Size'].str.split(" ",n=1,expand=True)
merged_df.drop('extra_col', axis=1, inplace=True)

#this mostly worked but there is one stubborn holdout

merged_df['Serving_Size_g'].unique()

array(['143.5', '178', '143', '174.5', '177', '130.5', '157', '139.5',
       '167.5', '170.5', '194.5', '160.5', '171', '153.5', '209', '211',
       '165.5', '154.5', '151.5', '172.5', '148.5', '193.5', '200', '257',
       '185', '237', '182', '223.6', '229', '165.6', '205', '215', '214',
       '257.6', '209.6', '223', '229.6', '218g', '221.6', '197.6', '194',
       '227', '189.6', '213.2', '215.6', '198', '253', '226', '259',
       '126', '161', '148', '113', '140', '122', '149', '153', '155',
       '160', '136', '150', '137', '131', '163', '176', '168', '154',
       '206', '151', '192', '186', '134', '174', '147', '183', '193',
       '187', '190', '166', '158', '195', '197', '184', '167', '222',
       '65.5', '73', '76.5', '69', '77', '81', '146', '74', '55', '85.5',
       '169', '173.5', '94.5', '77.5', '78.5', '95', '146.5', '92', '180',
       '250', '52.0', '69.0', '96.0', '56.0', '64.0', '108.0', '70.0',
       '80.0', '123.0', '83.0', '114.0', '65.0', '82.0', '68.8', '75.0',
       '109.0', '68.0', '79.0', '90.0', '101.0', '72.0', '77.0', '97.0',
       '76.0', '99.0', '91.0', '128.0', '78.0', '106.0', '126.0', '74.0',
       '112.0', '61.0', '60.0', '11.0', '94.0', '66.0', '87.0', '13.0',
       '85.0', '10.0', '92.0', '155.0', '16.0', '115.0', '132.0', '122.0',
       '190.0', '198.0', '238.0', '180.0', '174.0', '156.0', '210.0',
       '248.0'], dtype=object)

In [80]:
merged_df['Serving_Size_g'].replace(to_replace="218g", value="218",inplace=True)
merged_df['Serving_Size_g'] = merged_df['Serving_Size_g'].astype(float)

In [81]:
merged_df.dtypes

Company               object
Category              object
Product               object
Per Serve Size        object
Energy (kCal)        float64
Carbohydrates (g)    float64
Protein (g)          float64
Fiber (g)            float64
Sugar (g)            float64
Total Fat (g)        float64
Saturated Fat (g)    float64
Trans Fat (g)        float64
Cholesterol (mg)     float64
Sodium (mg)          float64
Pizza Name            object
Type                  object
Size                  object
Price                 object
Serving_Size_g       float64
dtype: object

In [83]:
#nutritional content columns

merged_df["Fat_Content"] = (merged_df["Total Fat (g)"] / merged_df["Serving_Size_g"])*100
merged_df["Protein_Content"] = (merged_df["Protein (g)"] / merged_df["Serving_Size_g"])*100
merged_df["Carb_Content"] = (merged_df["Carbohydrates (g)"] / merged_df["Serving_Size_g"])*100
merged_df.head()

,Company,Category,Product,Per Serve Size,Energy (kCal),Carbohydrates (g),Protein (g),Fiber (g),Sugar (g),Total Fat (g),...,Cholesterol (mg),Sodium (mg),Pizza Name,Type,Size,Price,Serving_Size_g,Fat_Content,Protein_Content,Carb_Content
0,Pizza Hut,All Meals,Corn n Cheese (Personal),143.5 g,432.6,65.64,17.91,3.85,0.0,10.93,...,16.19,499.72,Hand-Tossed,Cheese Pizza,Medium,$8.49,143.5,7.616725,12.480836,45.74216
1,Pizza Hut,All Meals,Corn n Cheese (Personal),143.5 g,432.6,65.64,17.91,3.85,0.0,10.93,...,16.19,499.72,Hand-Tossed,Cheese Pizza,Large,$10.49,143.5,7.616725,12.480836,45.74216
2,Pizza Hut,All Meals,Corn n Cheese (Personal),143.5 g,432.6,65.64,17.91,3.85,0.0,10.93,...,16.19,499.72,Pan Pizza,Cheese Pizza,Personal,$4.29,143.5,7.616725,12.480836,45.74216
3,Pizza Hut,All Meals,Corn n Cheese (Personal),143.5 g,432.6,65.64,17.91,3.85,0.0,10.93,...,16.19,499.72,Pan Pizza,Cheese Pizza,Medium,$8.49,143.5,7.616725,12.480836,45.74216
4,Pizza Hut,All Meals,Corn n Cheese (Personal),143.5 g,432.6,65.64,17.91,3.85,0.0,10.93,...,16.19,499.72,Pan Pizza,Cheese Pizza,Large,$10.49,143.5,7.616725,12.480836,45.74216

In [85]:
#Use loc to identify products that fit the Keto criteria
#Keto = 55-80% fat content, 15-35% protein content, and under 10% of carbohydrates.

keto_df = merged_df.loc[ 
    (merged_df["Fat_Content"] >=55) & 
    (merged_df["Fat_Content"] <=80) &
    (merged_df["Protein_Content"] >=15) & 
    (merged_df["Protein_Content"] <=35) &
    (merged_df["Carb_Content"] < 10)
]
keto_df

Empty DataFrame
Columns: [Company, Category, Product, Per Serve Size, Energy (kCal), Carbohydrates (g), Protein (g), Fiber (g), Sugar (g), Total Fat (g), Saturated Fat (g), Trans Fat (g), Cholesterol (mg), Sodium (mg), Pizza Name, Type, Size, Price, Serving_Size_g, Fat_Content, Protein_Content, Carb_Content]
Index: []

[0 rows x 22 columns]