In [1]:
import pandas as pd

In [6]:
fast_food_df = pd.read_csv("../Datasets/Nutrition_Value_Dataset.csv")
fast_food_df["Company"].value_counts()

Pizza Hut      144
McDonalds      140
Dominos         87
KFC             72
Starbucks       46
Burger King     41
Name: Company, dtype: int64

In [3]:
pizza_df = pd.read_csv("../Datasets/pizza_data.csv")
pizza_df.head()

          Company          Pizza Name           Type          Size  Price
0  Domino's Pizza         Hand Tossed  Cheeses Pizza   Small (10")  $5.99
1  Domino's Pizza         Hand Tossed  Cheeses Pizza  Medium (12")  $7.99
2  Domino's Pizza         Hand Tossed  Cheeses Pizza   Large (14")  $9.99
3  Domino's Pizza        Handmade Pan  Cheeses Pizza  Medium (12")  $7.99
4  Domino's Pizza  Crunchy Thin Crust  Cheeses Pizza   Small (10")  $5.99

In [5]:
pizza_df["Company"].value_counts()

Godfather's Pizza    133
Pizza Hut            126
Domino's Pizza        88
IMO's Pizza           24
Name: Company, dtype: int64